.slider {
    &__line {
        width: 100%;
        height: 7px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid black;
        position: relative;
        padding: 1px;
        cursor: pointer;

        & .slider__line-progress {
            position: relative;
            overflow: hidden;
            display: block;
            width: 0;
            height: 100%;
            background-color: rgb(43, 194, 83);
            box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
            inset 0 -2px 6px rgba(0, 0, 0, 0.4);
            z-index: -1;

            &_vertical {
                width: 100%;
                height: 0;
            }
        }

        &_vertical {
            width: 10px;
            height: 300px;

        }
    }

    &__head {
        width: 14px;
        height: 14px;
        border: 1px solid black;
        background-color: #37f3a1;
        border-radius: 50%;
        position: absolute;
        top: -75%;
        cursor: grab;
        z-index: 3;
        transform: translateX(-40%);

        &_active {
            cursor: grabbing;
        }

        &[data-valuefrom] {
            z-index: 2;
        }

        &_vertical {
            top: 0;
            left: -3px;
            transform: translateY(-40%);
        }

        &_high {
            z-index: 4 !important;
        }

        &-bubble {
            display: none;
            position: absolute;
            bottom: 150%;
            background-color: indianred;
            padding: 5px;
            left: -25%;
            cursor: grab;
            border-radius: 8px;
            z-index: 3;
            user-select: none;

            &_active {
                display: block;
            }

            &_grabbing {
                cursor: grabbing;
            }
        }
    }

    &__scale {
        position: absolute;
        top: 4px;
        width: 100%;
        height: 20px;
        user-select: none;
        cursor: initial;

        &_vertical {
            height: 100%;
            width: 20px;
            left: -20px;
            top: 0;
        }
    }

    &__dash {
        top: 2px;
        width: 1px;
        height: 8px;
        background: black;
        transform: translateX(-50%);
        position: absolute;

        &_vertical {
            left: 14px;
            height: 1px;
            width: 8px;
        }
    }

    &__scale-number {
        top: 10px;
        transform: translateX(-50%);
        color: black;
        font-size: 12px;
        position: absolute;
        cursor: pointer;

        &_vertical {
            right: 12px;
            transform: translateY(-50%);
            text-align: right;
        }
    }
}
